<% if @current_user %>

<h1>Thanks for creating a new watch party for UC matches!</h1>
<p><a href="/events" class="btn btn-primary">Go to All Matches</a></p>

<% else %>
<p> 
<a href="/users/new" class="btn btn-danger">Please sign up to see all the UC matches </a>    
<p/>
<p> If you already have an account <a href="/logins/new" class="btn btn-danger">Please sign in to see all the UC matches</a></p>
<% end %>