<h1>Welcome to EventWorld</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">EventWorld is your best tool to plan your weekend fun!</h1>
    <p class="lead">We are an application that seeks to connects event organizers with 
    attendess, and attendes to all the events near their location</p>
  </div>
</div>

<a href="/users/new"> <button type="button" class="btn btn-primary btn-lg btn-block" href="/users/new">
    Sign Up
</button> <a/>

<a href="/logins/new"> <button type="button" class="btn btn-secondary btn-lg btn-block" href="/logins/new">
    Sign In
</button> <a/>
