<h1>Welcome to UC Matches</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">UC matches is your best tool for UC fans to organize and plan watch parties. 
    Our goal is not only to making more fun to support UC but also to build a greater community amongst our beloved </h1>
    <p class="lead">We are an application that seeks to connect watch parties of UC matches organizers with 
    fans</p>
  </div>
</div>

<a href="/users/new"> <button type="button" class="btn btn-primary btn-lg btn-block" href="/users/new">
    Sign Up
</button> <a/>

<a href="/logins/new"> <button type="button" class="btn btn-secondary btn-lg btn-block" href="/logins/new">
    Sign In
</button> <a/>
