<% if @current_user %>

<h2>
    <i class="far fa-calendar-alt"></i>
    <%= @event[:date] %>
</h2>
<h1>RSVP for <%= @event[:title] %></h1>

<form action="/events/<%= @event[:id] %>/rsvps/create">
  <div class="form-group">
    <label>Are you joining us?</label>
    <select class="form-control" name="going">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>
  <div class="form-group">
    <label>Comments</label>
    <textarea class="form-control" rows="3" name="comments"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% else %>
<p> 
<a href="/users/new" class="btn btn-danger">Please sign up to see all the UC matches </a>    
<p/>
<p> If you already have an account <a href="/logins/new" class="btn btn-danger">Please sign in to see all the UC matches</a></p>
<% end %>