<% if @current_user %>

<h1>Create New UC match watch party</h1>

<form action="/events/create" method="post">
  <div class="form-group">
    <label>Match name</label>
    <input type="text" class="form-control" placeholder="UC vs Cobresal" name="title">
  </div>
  <div class="form-group">
    <label>Description of event</label>
    <input type="text" class="form-control" placeholder="It would be great if we could get 
    together 20 fans from Temuco to support UC on this difficult match." name="description">
  </div>
  <div class="form-group">
    <label>Date</label>
    <input type="text" class="form-control" placeholder="June 30th 2021" name="date">
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" class="form-control" placeholder="Santiago, Chile" name="location">
  </div>
  
<div>
  <button type="submit" class="btn btn-primary">Create</button>
</div>
</form>


<% else %>
<p> 
<a href="/users/new" class="btn btn-danger">Please sign up to see all the UC matches </a>    
<p/>
<p> If you already have an account <a href="/logins/new" class="btn btn-danger">Please sign in to see all the UC matches</a></p>
<% end %>


